h1 {
  border-bottom: 4px solid #333; /* thickness + color */
  padding-bottom: 0.3em;         /* spacing between text and underline */
  margin-bottom: 1em;            /* spacing below */
  font-weight: bold
}

h2 {
    font-weight: bold;
}

